<div class='container-fluid'>
    <div class='row'>

        <div class='col-md-2'>
            <h3>Put tree here</h3>
            <h3>Put tree here</h3>
            <h3>Put tree here</h3>
        </div>
        <div class='col-md-10'>
            <div class='row'>
                <div class='col-md-5'>
                <kwharea kwhdata="kwh"></kwharea>
                    
                </div>
            	<div class='col-md-5'>
                    <kwhheatmap  kwhheatdata="kwhheatdata"></kwhheatmap>
                </div>
            </div>
            <div class='row'>
            	<div class='col-md-5'> 
                    <linechart linedata="data1"></linechart>
                </div>

                <div class='col-md-5'>
                    <areaspline columndata="data2" ></areaspline>
                </div>
            </div>
        </div>
    </div>
</div>