<div class='container-fluid'>
    <div class='row'>

        <div class='col-md-2'>
            <div ng-controller="treeCtrl">
                <div ui-tree>
                  <ol ui-tree-nodes ng-model="rows">
                    <li ng-repeat="row in rows" ui-tree-node>
                      <div ui-tree-handle>
                        {{row.name}}
                      </div>
                
                      <ol ui-tree-nodes ng-model="row.columns">
                        <li ng-repeat="column in row.columns" ui-tree-node>
                          <div ui-tree-handle>
                            {{column.name}}
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </div>
            </div>
        </div>
        <div class='col-md-10'>
            <div class='row'>
                <div class='col-md-5'>
                <kwharea kwhdata="kwh"></kwharea>
                    
                </div>
            	<div class='col-md-5'>
                    <kwhheatmap kwhheatdata="kwhheatdata"></kwhheatmap>
                </div>
            </div>
            <div class='row'>
            	<div class='col-md-5'> 
                    <dailyprofile linedata="dailyProfileData"></dailyprofile>
                </div>

                <div class='col-md-5'>
                    <areaspline columndata="data2" ></areaspline>
                </div>
            </div>
        </div>
    </div>
</div>