<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-2'>
            <div ng-controller="treeCtrl">
                <form>
                    <div ui-tree>
                      <ol ui-tree-nodes ng-model="facilities">
                        <li ng-repeat="row in facilities" ui-tree-node>
                          <div ui-tree-handle>
                            {{row.name}} <input type="checkbox" value="{{row.id}}" />
                          </div>
                    
                          <ol ui-tree-nodes ng-model="row.meters">
                            <li ng-repeat="meter in row.meters" ui-tree-node>
                              <div ui-tree-handle>
                                {{meter.desc}} <input type="checkbox" value="{{meter.id}}" />
                              </div>
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </div>
                    <input type="submit" value="update" ng-click=""/>
                </form>
            </div>
        </div>
        <div class='col-lg-10'>
            <div class='row'>
                <div class='col-lg-6'>
                    <kwharea kwhdata="kwh"></kwharea>
                </div>
            	<div class='col-lg-6'>
                    <kwhheatmap kwhheatdata="kwhheatdata"></kwhheatmap>
                </div>
            </div>
            <div class='row'>
            	<div class='col-lg-6'> 
                    <dailyprofile linedata="dailyProfileData"></dailyprofile>
                    
                </div>

                <div class='col-lg-6'>
                    <kwbarchart bardata="data2" ></kwbarchart>
                </div>
            </div>
        </div>
    </div>
</div>